<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
        <!-- Innhold i Sidenav -->
        <mat-nav-list>
            <mat-list-item routerLink="table" routerLinkActive="active current">Tabell</mat-list-item>
            <mat-list-item routerLink="input" routerLinkActive="active current">Input Form</mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Innhold på siden -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>